@{
    ViewData["Title"] = "Weather Live";
}

<main class="main-container">
    <div class="title display-4 text-center">
        Weather Live
    </div>

    <div class="app d-flex justify-content-center">
        <div class="weather-container border border-1 border-white">
            <form class="border border-2">
                <input />

                <button>Search</button>
            </form>

            <div class="output-container">

            </div>
        </div>
    </div>
</main>